@import '../../../styles/variables.scss';

.sales-admin-container {
    display: flex;
    flex-direction: column;
    width: 100%;

    .reset-create-store-container {
        display: flex;
        button {
            width: 50%;
        }
        justify-content: space-between;
        margin-bottom: 25px;

        .cash-fund-container {
            display: flex;
            align-items: center;
            gap: 10px;
            .cash-fund {
                width: 70px;
            }
        }
    }

    .store-details-container {
        overflow-y: scroll;
        width: 100%;
    }
}

/**********************************
    AddStore Component
***********************************/
.add-store-container {
    display: flex;
    flex-direction: column;
    width: 350px;
}

/**********************************
    SalesByStore Component
***********************************/
.store-item {
    display: flex;
    margin-bottom: 40px;
    width: 100%;
    .daily-sale {
        width: 40%;

        .branch-name {
            cursor: pointer;
            text-decoration: underline;
        }
        
        table {
            width: 100%;
            border-collapse: collapse;
            background-color: $primary-700;

            thead th:nth-child(1) { width: 40% }
            thead th:nth-child(2) { width: 30% }
            thead th:nth-child(3) { width: 30% }
            thead {
                height: 30px;
                background-color: $primary-700;
                color: $secondary-200;
            }
            tbody td {
                height: 30px;
            }

            tbody tr:nth-child(odd) { background-color: $secondary-200;}
            tbody tr:nth-child(even) { background-color: $secondary-300;}

            td:nth-child(2), td:nth-child(3) {
                text-align: center;
            }
        }

        .spend-style {
            cursor: pointer;
            text-decoration: underline;
        }

    }

    .chart {
        width: 60%;
        height: 100%;
        padding: 0 20px;
    }
}

.borde {
    border: 2px solid #c56262 !important;
}

/**********************************
    Spends List Component
***********************************/
.spends-list-container {
    display: flex;
    flex-direction: column;
    width: 300px;

    .item {
        display: flex;
        justify-content: space-between;
        margin-bottom: 5px;
    }
}