
.store-details-container {
    overflow-y: scroll;
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
}


/**********************************
    AddStore Component
***********************************/
.add-store-container {
    display: flex;
    flex-direction: column;
    width: 350px;
}