@import '../../../styles/variables.scss';

.users-admin-container {
    display: flex;
    flex-direction: column;
    width: 100%;

    .users-search-container {
        display: flex;
        justify-content: space-between;
        margin-bottom: 25px;
    }

    .grants-container {
        display: flex;
        flex-direction: column;
        gap: 10px;
        width: 100%;
        
        .user-picker {
            width: 30%;
        }

        .permission-container {
            width: 100%;
            display: flex;
            justify-content: space-between;
        }

    }
}

/**********************************
    AddUser Component
***********************************/
.add-user-container {
    display: flex;
    width: 400px;
    flex-wrap: wrap;
    gap: 20px;
    
    .user {
        width: 190px;
    }
    .name {
        width: 100%;
    }
}

/**********************************
    Attendance Component
***********************************/
.attendance-container {
    display: flex;
    width: 100%;
    justify-content: space-evenly;

    .day-container {
        width: 14.28%;
        height: 100px;
        margin-bottom: 30px;
        border-width: 1px;
        border-style: solid;
        border-color: $secondary-400;

        .day {
            border-bottom-width: 1px;
            border-bottom-style: solid;
            border-bottom-color: $secondary-400;
            padding-left: 10px;
            margin-bottom: 10px;
        }
        .date {
            padding-left: 10px;
            margin-bottom: 5px;
        }
        .hour {
            padding-left: 10px;
        }
    }
}