@import '../../../styles/variables.scss';

.tools-container {
    width: 100%;

    .upload-stocktaking-container {
        display: flex;
        flex-direction: column;
        .select-file {
            display: flex;
            flex-direction: column;
            align-self: center;
            width: 400px;
            gap: 20px;
            margin: 20px 0px;
        }
    }
}