@import '../../../styles/variables.scss';

.tab-container {
    width: 100%;
    height: 100%;

    div.nav {
        width: 100%;
        margin: 0;
        margin-bottom: 20px;
        display: flex;
        align-items: center;
        padding-left: 0px;
        top: 0;
        position: sticky;
        background-color: $primary-800;
        z-index: 100;

        .logo {
            margin-right: 10vw;
            margin-left: 2vw;
            cursor: pointer;
        }
    }

    div.nav .item-nav {
        display: flex;
        justify-content: center;
        align-items: center;
        column-gap: 16px;
        width: 208px;
        padding: 16px 8px;
        list-style: none;
        text-align: center;
        cursor: pointer;
        transition: all 0.7s;
        color: $secondary-100;
    }

    div.nav .item-nav:hover {
        background: $primary-900;
    }

    .tab-content {
        display: flex;
        margin: 0 auto;
        height: 75vh;
        max-width: 1024px;
    }
}

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
    .tab-container {
        width: 100%;
        height: 100%;

        div.nav {
            margin-bottom: 0;
        }

        .nav {
            display: flex;
            justify-content: space-between;
            padding: 0 10px;
            height: 80px;
            .navbar-items {
                display: flex;
                flex-direction: column;
                align-items: center;
                position: fixed;
                top: 80px;
                left: 0;
                width: 100%;
                transition: width 0.3s linear;
            }
        }

        div.nav .item-nav {
            column-gap: 16px;
            width: 100%;
            padding: 16px 8px;
            background-color: $primary-500;
            color: $secondary-100;
            border-width: 1px;
            border-style: solid;
            border-color: $secondary-100;
            animation-name: showNavbar;
            animation-duration: 1s;
        }

        .tab-content {
            height: 100%;
            width: 100%;
            padding: 0 16px;
        }
    }
}

@keyframes showNavbar{
    0%   {margin-right: -1000px}
    100%   {margin-right: 0px}
}