.main_container {
    display: flex;
    justify-content: center;
}

.login_container {
    height: 450px;
    width: 300px;
    display: flex;
    align-items: center;
    flex-direction: column;
    row-gap: 1rem;
    padding: 1rem 2rem;
    margin-top: 20vh;

    border-radius: 20px;
    background-color: #ecf0f3;
    box-shadow: 0 0 10px rgb(61 61 61 / 25%);
}
