$text-font: "Expletus";
$numeric-font: "Roboto";

$primary-100: #e2f1fd; // No se usa
$primary-200: #a4d6f9; // No se usa
$primary-300: #88c8f7;
$primary-400: #62b7f4;
$primary-500: #1192ee;
$primary-600: #0f80d2; // No se usa
$primary-700: #0c6cb0;
$primary-800: #34495e;
$primary-900: #162936; // No se usa

$secondary-100: #fbfdfe;
$secondary-200: #f9fafb; 
$secondary-300: #ecf0f3; 
$secondary-400: #b7c1c8;
$secondary-500: #8e9ba4;
$secondary-600: #687782; // No se usa
$secondary-700: #273b49;
$secondary-800: #28353e; // No se usa
$secondary-900: #192229; // No se usa

$green-300: #72dfbe;
$green-400: #44d5a7; // No se usa
$green-500: #16ca91;
$green-600: #12a173;

$yellow-300: #ffdb9e; // No se usa
$yellow-400: #ffce7a; // No se usa
$yellow-500: #ffba42; // No se usa
$yellow-600: #e5a638; // No se usa

$red-300: #f28799;
$red-400: #ed5e76; // No se usa
$red-500: #e93553; // No se usa
$red-600: #cf1736;
