@import '../../../styles/variables.scss';

.fixes-admin-container {
    display: flex;
    flex-direction: column;
    width: 100%;

    .folio-container {
        display: flex;
        button {
            width: 50%;
        }
        justify-content: space-between;
        margin-bottom: 25px;
    }

    .details-container {
        overflow-y: scroll;
    }
}

/**********************************
    CreateFolio Component
***********************************/
.create-folio-container {
    width: 500px;

    .customer-info {
        width: 100%;
        display: flex;
        justify-content: space-between;

        .customer-name {
            width: 65%;
            display: flex;
            margin-bottom: 20px;
        }
    
        .phone-number {
            width: 30%;
            display: flex;
            margin-bottom: 20px;
        }
    }

    .fixes-container {
        display: flex;
        flex-wrap: wrap;

        .fix {
            width: 50%
        }
    }

    .comments-container {
        height: 150px;
        margin-bottom: 20px;
    }

    .payment-container {
        width: 50%;
        display: flex;
        align-content: flex-start;
        gap: 20px;
        margin-bottom: 20px;
    }

    .payment-type {
        display: flex;
        gap: 20px;
        width: 100%;
        margin-bottom: 20px;
    }
}

/**********************************
    FixDetails Component
***********************************/
.fix-details-container {
    padding: 20px;
    border: 1px solid $secondary-300;
    border-radius: 20px;
    background-color: $secondary-300;

    .info {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        margin-bottom: 20px;

        .folio { width: 15% }
        .customer-name { width: 40% }
        .phone-number { width: 25% }
        .date-admission {
            display: flex;
            gap: 10px;
            width: 40%
        }
        .status {
            width: 35%;
            display: flex;
            gap: 15px;
            align-items: baseline;
            .picker { width: 70%}
        }
    }

    .comments {
        border: 1px solid $secondary-400;
        border-radius: 10px;
        background-color: $secondary-100;
        padding: 20px;

        .item {
            display: flex;
            align-items: center;
            gap: 15px;
            height: 45px;
        }
    }

    .add-comment {
        height: 150px;
        margin-bottom: 20px;
    }

    .advance-payment {
        display: flex;
        align-items: center;
        gap: 20px;
        button { width: 180px }
    }

    .total {
        width: 100px;
        margin-bottom: 20px;
    }

    .save {
        width: 150px;
        margin-bottom: 20px;
    }

    .payment-type {
        display: flex;
        gap: 20px;
        width: 100%;
    }

    .border {
        width: 100%;
        border: 1px solid $secondary-400;
        margin-bottom: 20px;
    }
}

/**********************************
    AdvancePayment Component
***********************************/
.advance-payment-container {
    width: 200px;
    .advance-payment {
        width: 80px;
        margin-bottom: 20px;
    }
}